.header {
    background: $color-background-secondary;
    position: relative;
    z-index: 7;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        max-width: 1248px;
        height: 64px;
        margin: 0 auto;
        &-logo {
            letter-spacing: 1px;
            & > .no-style-link > p {
                font-family: 'Expletus Sans', sans-serif;
                font-size: 36px;
                font-weight: 400;
            }
        }
        &-search {
            position: relative;
            padding-right: 8px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            outline: 1px solid $color-background-secondary;
            border: 1px solid $color-border-search;
            border-radius: 20px;
            transition: 0.2s;
            &:focus-within {
                border: 1px solid $color-accent;
                outline: 1px solid $color-accent;
                box-shadow: 0 2px 10px rgba(0,0,0,.06);
            }
            &-options {
                position: relative;
                & > #option {
                    height: 100%;
                    display: flex;
                    gap: 4px;
                    min-width: fit-content;
                    padding: 0 18px;
                    border-radius: 0;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    & > svg {
                        color: $color-text-primary;
                        height: 10px;
                        width: 10px;
                    }
                }
                &-list {
                    min-width: 160px;
                    top: 50px;
                    padding: 8px 0;
                    background-color: #fff;
                    position: absolute;
                    border: 1px solid $color-border-primary;
                    border-radius: 4px;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                    transition-property: all;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 200ms;
                    &-item {
                        width: 100%;
                        padding: 2px 0;
                        & > button {
                            text-align: start;
                            width: 100%;
                        }
                    }
                }
                & > .hidden {
                    visibility: hidden;
                    opacity: 0;
                }
                & > .visible {
                    visibility: visible;
                    opacity: 100;
                }
            }
            & > input {
                width: 100%;
                border: none;
                padding: 0 32px 0 16px;
                height: 40px;
                font-weight: 400;
                border-left: 1px solid $color-border-search;
                &:focus {
                    outline: none;
                }
            }
            &-actions {
                display: flex;
                align-items: center;
                gap: 4px;
                & > #search > svg {
                    height: 20px;
                    width: 20px;
                }
                &-close {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    & > #close {
                        height: 16px;
                        width: 16px;
                        & > svg {
                            height: 16px;
                            width: 16px;
                        }
                    }    
                    &-divider {
                        margin-left: 8px;
                        border-right: 1px solid $color-border-secondary;
                    } 
                }
            }
            &-suggestions {
                position: absolute;
                left: 0;
                top: 50px;
                background-color: #fff;
                border: 1px solid $color-border-primary;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0,0,0,.1);
                width: 100%;
                height: auto;
                padding: 8px 0;
                &-list {
                    &-item {
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        line-height: 24px;
                        padding: 4px 16px;
                        text-align: start;
                        width: 100%;
                        &:hover {
                            background-color: $color-border-primary;
                        }
                    }
                }
                &-notfound {
                    text-align: start;
                    line-height: 24px;
                    padding: 8px 16px;
                }
                &-loader {
                    padding: 64px 0;
                }
            }
        }
        &-language {
            padding-right: 16px;
            & > button {
                display: flex;
                gap: 4px;
                & > p, & > svg {
                    color: black;
                    font-weight: 300;
                    text-transform: uppercase;   
                }
                & > svg {
                    height: 10px;
                    width: 10px;
                }
            }
        }
        &-auth {
            &-actions {
                position: relative;
                display: flex;
                gap: 4px;
                & > #sign-up, #login {
                    min-width: 96px;
                    padding: 6px 20px;
                    & > p {
                        color: $color-text-primary;
                        font-weight: 400;
                        text-transform: none;
                    }
                }
                & > #sign-up {
                    color: white;
                    background-color: $color-accent;
                    & > p {
                        color: $color-text-tertiary
                    }
                    &:hover {
                        background-color: rgba($color-accent, 0.9);
                    }
                }
                
                & > #profile {
                    border: 1px solid $color-border-secondary;
                    & > svg {
                        width: 20px;
                        height: 20px;
                    }
                }
                &-list {
                    width: 280px;
                    position: absolute;
                    top: 50px;
                    right: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: $color-text-tertiary;
                    border: 1px solid $color-border-primary;
                    border-radius: 4px;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                    animation: fadeIn 0.2s ease-in-out;
                    padding-bottom: 32px;
                    &-item:nth-child(1) {
                        width: 220px;
                        padding: 32px 16px;
                        margin-bottom: 4px;
                        border-bottom: 1px solid $color-border-primary;
                        & > p {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                    &-item {
                        width: 100%;
                        padding: 2px 0;
                        & > button {
                            text-align: start;
                            width: 100%;
                        }
                    }
                }
            }
        }  
    }
} 