.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    min-width: 320px;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid $color-border-secondary;
    box-shadow: 0 0 10px rgba(0,0,0,.75);
    & > h1 {
        width: 100%;
        padding: 12px 24px;
        border-bottom: 1px solid $color-border-secondary;
    }
    &-book {
        padding: 12px 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        & > svg {
            padding-left: 8px;
            color: $color-star-filled;
        }
        &-title {
            font-size: 20px;
            font-weight: 500;
        }
    }
    &-rating {
        display: flex;
        justify-content: center;
        flex-direction: row;
        & > .MuiRating-root {
            margin: 10px 0 20px 0;
            & > label {
                color: $color-star-filled;
                padding: 4px;
            }
        }
    }
    & > #rate {
        margin: 0 24px 8px 24px;
        padding: 8px;
        width: calc(100% - 48px);
        background-color: $color-accent;
        & > p {
            font-weight: 400;
            color: $color-text-tertiary;
        }
    }
    & > #unrate {
        margin: 0 24px 18px 24px;
        padding: 6px;
        width: calc(100% - 48px);
        & > p {
            font-size: 15px;
            font-weight: 400;
        }
    }
    & > #add {
        display: flex;
        justify-content: start;
        gap: 10px;
        padding: 12px 24px;
        width: 100%;
        & > p {
            font-weight: 600;
            font-size: 18px;
        }
        & > svg {
            color: $color-text-primary;
        }
    }
    &-child {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        max-width: 400px;
        background-color: #fff;
        border: 1px solid $color-border-secondary;
        box-shadow: 0 0 10px rgba(0,0,0,.75);
        padding: 12px 24px 24px 24px;
        & > #close {
            position: absolute;
            top: 12px;
            right: 12px;
            & > svg {
                height: 18px;
                width: 18px;
            }
        }  
        &-name {
            margin-top: 12px;
            width: 100%;
            & > p {
                font-size: 18px;
                font-weight: 600;
            }
            .MuiFormControl-root {
                margin-top: 4px;
                margin-bottom: 16px;
                width: 100%;
                & > div > input {
                    max-height: 10px;
                }
            }
        }
        &-agree {
            display: flex;
            gap: 2px;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 24px;
            .MuiCheckbox-root {
                padding: 4px;
                & > svg {
                    width: 20px;
                    height: 20px; 
                }
            }
            &-text {
                &-main {
                    font-size: 18px;
                    font-weight: 600; 
                }
            }
        }
        & > #create {
            text-transform: none;
            width: 100%;
            margin-left: auto;
            background-color: $color-accent;
            & > p {
                padding: 6px;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
    & > #close {
        position: absolute;
        top: 12px;
        right: 12px;
        & > svg {
            height: 18px;
            width: 18px;
        }
    }
    &-lists {
        border-top: 1px solid $color-border-secondary;
        padding: 10px 0;
        max-height: 220px;
        min-height: 150px;
        overflow: scroll;
        flex-direction: row;
        &-item {
            .MuiCollapse-wrapperInner {
                display: inherit;
                align-items: center;
                & > #list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 12px;
                    padding: 10px 24px;
                    width: 100%;
                    & > svg {
                        color: $color-text-primary;
                    }
                }
                & > #next {
                    height: 100%;
                    & > svg {
                        color: $color-text-primary;
                    }
                }
            }
            &-data {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                &-private {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
                    &-name {
                        font-size: 18px;
                        font-weight: 500;
                    } 
                    & > svg {
                        color: $color-text-secondary;
                        width: 12px;
                        height: 12px;
                    }
                }
                &-books { 
                    text-align: start;
                }
            }
            &-divider {
                height: 70%;
                border-right: 1px solid $color-border-secondary;
            }
        }
    }
    &-empty {
        min-height: 150px;
        max-width: 220px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
}