.userprofileheader {
    &-container {
        width: 100%;
        min-height: 216px;
        padding: 24px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background-color: #36332c;
        &-spacing {
            grid-column: auto/span 2;
        }
        &-info {
            padding: 24px;
            grid-column: auto/span 8;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &-main {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                & > #user {
                    background-color: $color-text-tertiary;
                    width: 72px;
                    height: 72px;
                    & > svg {
                        width: 80%;
                        height: 80%;
                    }
                }
                & > p {
                    color: $color-text-tertiary;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 45px;
                }
            }
                & > #edit {
                    color: $color-text-tertiary;
                    padding: 12px;
                    width: 200px;
                    border-color: $color-text-tertiary;
                    & > p {
                        font-size: 20px;
                        font-weight: 400;
                        color: $color-text-tertiary;
                    }
                }
        }
    }
}