$font-primary:'Source Sans Pro', sans-serif;
$font-secondary: serif;
$color-text-primary: #201C14;
$color-text-secondary: #63605b;
$color-text-tertiary: #fff;
$color-background-secondary: #faf8f7;
$color-background-tertiary: #e3e6ef;
$color-border-primary: #e9e8e7;
$color-border-secondary: #cfd6e0;
$color-border-search : #8a91a0;
$color-star-filled : #e87400;
$color-star-empty : #d3d2d0;
$color-error: #aa1527;
$color-accent : #1e7b85;
$color-modal-background: linear-gradient(180deg,#003451, #001b29);